In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\User\Documents\com.moodle.moodlemobile\sites\afd84929a07dc1fee3b8b00ee7458690\filepool\Sales_add_8014260a0c78702f152ed2516c7b3617.csv")

In [3]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [5]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [6]:
from scipy.stats import ttest_ind

In [7]:
t_stat,p_value=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [8]:
p_value

2.614368006904645e-16

In [9]:
if p_value<0.05:
    print('Reject Null Hypotheses')
else:
    print('Accept Null Hypotheses')

Reject Null Hypotheses

In [10]:
There is an increase in sales after stepping into digital marketing

SyntaxError: invalid syntax (2870514422.py, line 1)

In [44]:
from scipy.stats import chisquare

In [46]:
chi_stat,p_val = chisquare(f_obs=data['Sales_before_digital_add(in $)'] ,f_exp=['Sales_After_digital_add(in $)'])

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U29'), dtype('<U29')) -> None

In [25]:
p_value

2.614368006904645e-16

In [26]:
if p_value<0.05:
    print('Reject Null Hypotheses')
else:
    print('Accept Null Hypotheses')

Reject Null Hypotheses

In [ ]:
There is not dependency between the features'Region' and 'manager'